body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    position: relative;
    top: 70px;
    background-color:#edcdca;
    max-width: 1000px;
    margin: auto;
}

svg, canvas {
    box-sizing: border-box;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

button {
    background: #b5cef5;
    border: solid;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #c2f0c8;
    color: #000000;
}

.button-spacing {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.buttons {
    max-width: 950px;
}

#text {
    width: 950px;
}

#applet{
    background-color:#b5cef5;
    border-radius: 10px;
    position: relative;
    height: 980px;
    width: 950px;
}

#top-panel{
    /* background-color: green; */
    position: absolute;
    height: 320px;
    width: 950px;
    padding: 10px;
}

#middle-panel {
    /* background-color: green; */
    position: absolute;
    height: 320px;
    width: 950px;
    top: 320px;
    padding: 10px;
}

#bottom-panel {
    position: absolute;
    height: 320px;
    width: 950px;
    top: 640px;
    padding: 10px;
}

.column {
    float: left;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#controls2 {
    background-color:#c2f0c8;
    box-sizing: border-box;
    width: 272px;
    height: 100%;
    padding: 20px;
    border: solid;
    border-radius: 10px;
}

#previous-button{
    float: left;
}

#next-button{
    float: right;
}

#red {
    color: red;
    background-color:red;
    width: 30px;
}

#green {
    color: green;
    background-color:green;
    width: 30px;
}

#blue {
    color: blue;
    background-color:blue;
    width: 30px;
}

#periwinkle {
    /* rename */
    color: rgb(127, 127, 255);
    background-color:rgb(127, 127, 255);
    width: 30px;
}


#orange {
    color: orange;
    background-color:orange;
    width: 30px;
}

#purple {
    color: purple;
    background-color:purple;
    width: 30px;
}

#grey {
    color: rgb(142, 142, 139);
    background-color:rgb(142, 142, 139);
    width: 30px;
}

#lightsalmon {
    color: lightsalmon;
    background-color:lightsalmon;
    width: 30px;
}

#cyan {
    color: cyan;
    background-color:cyan;
    width: 30px;
}

#plum {
    color: plum;
    background-color:plum;
    width: 30px;
}
