<<<<<<< HEAD
/* --- Colors --- */

#red { /*Colorblind friendly when used with blue*/
    color: #DC3220;
    background-color:#DC3220;
    width: 30px;
}

#green {
    color: green;
    background-color:green;
    width: 30px;
}

#blue { /*Colorblind friendly when used with red*/
    color: #005AB5;
    background-color:#005AB5;
    width: 30px;
}

#periwinkle {
    /* rename */
    color: rgb(127, 127, 255);
    background-color:rgb(127, 127, 255);
    width: 30px;
}


#orange {
    color: orange;
    background-color:orange;
    width: 30px;
}

#purple {
    color: purple;
    background-color:purple;
    width: 30px;
}

#grey {
    color: rgb(142, 142, 139);
    background-color:rgb(142, 142, 139);
    width: 30px;
}

#lightsalmon {
    color: lightsalmon;
    background-color:lightsalmon;
    width: 30px;
}

#cyan {
    color: cyan;
    background-color:cyan;
    width: 30px;
}

#plum {
    color: plum;
    background-color:plum;
    width: 30px;
}


/* --- Page Styling --- */
=======
>>>>>>> c24e65b4a668de37aea77e2234bba710064cbae7
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    position: relative;
    top: 70px;
    background-color:#edcdca;
    max-width: 1000px;
    margin: auto;
}

svg, canvas {
    box-sizing: border-box;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

button {
    background: #b5cef5;
    border: solid;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #c2f0c8;
    color: #000000;
}

.graph-button{

    height: 100px;
    width: 48%; 
}
.graph-button3{
    font-size: 13px;
    height: 100px;
    width: 31%; 
    white-space: nowrap;
    padding-left: 0px;
    padding-right: 0px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #04AA6D;
    cursor: pointer;
}

.button-spacing {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.buttons {
    max-width: 950px;
}

#text {
    width: 950px;
}

#applet0{
    background-color:#b5cef5;
    border-radius: 10px;
    position: relative;
    height: 340px;
    width: 950px;
}
#applet{
    background-color:#b5cef5;
    border-radius: 10px;
    position: relative;
    height: 980px;
    width: 950px;
}

#applet2{
    background-color:#b5cef5;
    border-radius: 10px;
    position: relative;
    height: 660px;
    width: 950px;
}

#applet3{
    background-color:#b5cef5;
    border-radius: 10px;
    position: relative;
    height: 1300px;
    width: 950px;
}

#applet5{
    background-color:#b5cef5;
    border-radius: 10px;
    position: relative;
    height: 550px;
    width: 1070px;
    margin: auto;
}

#top-panel{
    /* background-color: green; */
    position: absolute;
    height: 320px;
    width: 1200px;
    padding: 10px;
}

#top-panel2{
    /* for pg 5 */
    position: absolute;
    height: 320px;
    width: 1200px;
    padding: 10px;
}

#middle-panel {
    /* background-color: green; */
    position: absolute;
    height: 320px;
    width: 950px;
    top: 320px;
    padding: 10px;
}

#bottom-panel {
    position: absolute;
    height: 320px;
    width: 950px;
    top: 640px;
    padding: 10px;
}

#bottom2-panel {
    position: absolute;
    height: 320px;
    width: 950px;
    top: 960px;
    padding: 10px;
}

.column {
    float: left;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.column-right {
    float: right;
    height: 100%;
    padding: 10px;
    margin-right: 20px;
    box-sizing: border-box;
}

#controls {
    background-color:#c2f0c8;
    box-sizing: border-box;
    width: 275px;
    height: 100%;
    padding: 10px;
    border: solid;
    border-radius: 10px;
}

#controls2 {
    background-color:#c2f0c8;
    box-sizing: border-box;
    width: 275px;
    height: 100%;
    padding: 20px;
    border: solid;
    border-radius: 10px;
}

#controls3 {
    background-color:#c2f0c8;
    box-sizing: border-box;
    width: 445px;
    height: 100%;
    padding: 10px;
    border: solid;
    border-radius: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
 }

#previous-button{
    float: left;
}

#next-button{
    float: right;
}

#red {
    color: red;
    background-color:red;
    width: 30px;
}

#green {
    color: green;
    background-color:green;
    width: 30px;
}

#blue {
    color: blue;
    background-color:blue;
    width: 30px;
}

#periwinkle {
    /* rename */
    color: rgb(127, 127, 255);
    background-color:rgb(127, 127, 255);
    width: 30px;
}


#orange {
    color: orange;
    background-color:orange;
    width: 30px;
}

#purple {
    color: purple;
    background-color:purple;
    width: 30px;
}

#grey {
    color: rgb(142, 142, 139);
    background-color:rgb(142, 142, 139);
    width: 30px;
}

#lightsalmon {
    color: lightsalmon;
    background-color:lightsalmon;
    width: 30px;
}

#cyan {
    color: cyan;
    background-color:cyan;
    width: 30px;
}

#plum {
    color: plum;
    background-color:plum;
    width: 30px;
}
