body {
    position: relative;
    top: 70px;
    background-color: #edcdca;
    max-width: 1000px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background: #b5cef5;
    border: solid;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #c2f0c8;
    color: #000000;
}

#text {
    max-width: 1000px;
}

#text-middle {
    text-align: center;
}

#rightbox {
    width: 320px;
    display: inline-block;
    padding-left: 35px;
}

#canvas {
    display: block;
    margin: 0 auto;
    background: #FFFACC;
    border-radius: 10px;
    border: solid;
    float: left;
}

#feedback {
    display: block;
    margin: 0 auto;
    background: #FFFACC;
    border-radius: 10px;
    border: solid;
    float: left;
    margin-left: 32px;
}

#out-button {
    margin-left: auto;
    margin-right: auto;
}

#into-button {
    margin-left: auto;
    margin-right: auto;
}

#zero-button {
    margin-left: auto;
    margin-right: auto;
}

#reload-button {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    background: #b7b7b7;
}

#reload-button:hover {
    background: #c2f0c8;
}

#previous-button{
    float: left;
}

#next-button{
    float: right;
}

.button-spacing {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.buttons {
    text-align: center;
}