body {
  margin: 16px;
  padding: 16px;
  background: #182030;
}

#star-background {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  z-index: -1;   /* behind the page*/
  pointer-events: none; /* user can't click stars*/
}

#applet {
  margin: 32px auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  border-radius: 8px;
  gap: 24px;
}

#animation-container {
  width: 100%;
  padding: 12px;
  position: relative;
  background: transparent;
  border-radius: 8px;
}

#graphs-container {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#slider-row {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
}

#L-slider-container, #epsilon-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #EEEEEE;
}

#radial-kinetic-graph,
#orbital-kinetic-graph,
#potential-energy-graph,
#total-energy-graph {
  background: transparent;
  padding: 12px;
  margin: 8px;
}

#kinetic-row,
#potential-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#orbit5-prev {
  background: #232946;
  color: #00BFFF;
  border-radius: 6px;
  padding: 10px 28px;
  outline: none;
}

#orbit5-prev:hover, #orbit5-prev:focus {
  background: #00BFFF;
  color: #232946;
  outline: none;
}
